<% title @category.name %>

<div class="site">
  	<h4 style="color: white;"><%= @category.name %> বিভাগ এর অন্তর্গত পাবলিশ হওয়া সকল পোস্ট</h4>
</div>

<div class="posts">
	<% @posts.each do |post| %>
	  <h2><%= image_tag avatar_url(post.user), class: 'profile-picture' %>&nbsp;<%= link_to post.title, post %></h2>
	  <p>বিভাগঃ <%= link_to post.category.name, category_path(post.category) %>&nbsp;
	  	লিখেছেনঃ <%= link_to post.user.name, post.user %>
	  </p>
	  <p>ট্যাগঃ <%= raw post.tag_list.map{ |t| link_to t, tag_path(t), class: "button tiny" }.join(' ') %></p>
	  <hr />
	<% end %>
	
	<div class="digg_pagination">
	    <%= will_paginate @posts, :container => false %>
	</div>
</div>
