<% title "লগ-ইন" %>

<div class="posts-other">
	<h2>লগ-ইন এর জন্য ই-মেইল ও পাসওয়ার্ড প্রবেশ করুন</h2>
	
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <div><%= f.label :email, "ই-মেইল" %><br />
	  <%= f.email_field :email, :autofocus => true %></div>
	
	  <div><%= f.label :password, "পাসওয়ার্ড" %><br />
	  <%= f.password_field :password %></div>
	
	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.check_box :remember_me %> <%= f.label :"এই ব্রাউজারে সকল তথ্য মনে রাখুক" %></div>
	  <% end -%>
	
	  <div><%= f.submit "লগ-ইন" %></div>
	<% end %>
	
	<h4>এখনও রেজিস্টার করেন নি? </h4>
	<%= render "devise/shared/links" %>
</div>